
body {
    font-family: 'Noto Serif', serif;
    color: #413e40;
    background-color: #e5d1c4;
    min-height: 100vh!important
}
a.blog-link-card{
    color:#e5d1c4
}
.privacy-link{
    color:#e5d1c4
}
.first-card
{
    background-color: #413e40;
    color: #e5d1c4;
    border:none;
    display: flex;
    align-items: center;
    place-content: center
}
.card-background, .single-hero-background
{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position:center!important;   
}
a {
    color: #413e40;
    text-decoration: none;
}
input{
    text-align:center;
    border: 0;
    background-color: transparent;
    color: #413e40;
}
.single-hero-background{
    min-height: 300px
}
.text-with-bg-text{
    backdrop-filter: brightness(0.45);
    color:#e5d1c4
}
input:not([type=submit])
{
    background-color: white;
    border-radius: 3px;
    border: 2px solid #ccc!important
}
.card-row > 
input[type=submit]{
    border: 2px solid #ccc!important;
    border-radius: 3px;
}
.outline
{
    border: 2px solid #413e40!important;
}
.post-card-outline{
    height: 25rem;
}
.post-card-container
{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.footer{
    position:sticky;
    bottom: 0;
    background-color: #413e40;
    color: #e5d1c4;
}
footer{
    position: sticky;
    bottom: 0;
    text-align: center;
    width:100%
}