img.my-photo{
    border-radius: 100%;
    width: 20vh;
    height: auto;
    margin: 3vh 0 3vh 0
}
.left-column {
    background-color: #2a2826;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.left-column-contents {
    margin: 6.25%;
    text-align: center
}
.right-column {
    background-color: #4a4846;
    min-height:100vh;
    max-height:100vh;
    overflow-y: scroll;
}
.searchbox-container {
    width:100%;
    margin: 0 auto
}