
body {
    font-family: 'Helvetica', serif;
    color: #eae8e6 !important
}
a {
    color: #eae8e6 !important
}
input{
    text-align:center;
    border: 0;
    background-color: transparent;
    color: #ccc;
}