::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: #cac8c6; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #eae8e6; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #aaa8a6; 
}